<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{ message }}
        <h1> 아시아 </h1>
        <h2> 대한민국 </h2>
        <h3> 중국 </h3>
        <h4> 일본 </h4>
        <a href="https://www.letscoding.kr" target="_blank">코딩학원 홈페이지</a>
        <br/>
        <img width="500px" height= 500px src="https://i.pinimg.com/originals/70/44/87/704487d5dbbc06dd5e8fdfb558a1a8c5.png"/>
        <ol>
            <li>축구</li>
            <li>배구</li>
            <li>농구</li>
            <li>야구</li>
        </ol>
        <script src="" async defer></script>
    </body>
</html>